<app-top-bar></app-top-bar>

<div class="basic-container">
    <button mat-raised-button [routerLink]="['/urls/new']">
        Create new url
    </button>
</div>

<div *ngIf="!urls || urls?.length === 0; else urlsTable">
    <p>
        There are not any urls.
    </p>
</div>

<ng-template #urlsTable>
    <table mat-table [dataSource]="urls" class="mat-elevation-z10">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="intervieweeName">
            <th mat-header-cell *matHeaderCellDef>Interviewee name</th>
            <td mat-cell *matCellDef="let element">{{ element.intervieweeName }}</td>
        </ng-container>

        <ng-container matColumnDef="numberOfRuns">
            <th mat-header-cell *matHeaderCellDef>Number of runs</th>
            <td mat-cell *matCellDef="let element">{{ element.numberOfRuns }}</td>
        </ng-container>

        <ng-container matColumnDef="validFromTime">
            <th mat-header-cell *matHeaderCellDef>Valid from time</th>
            <td mat-cell *matCellDef="let element">
                {{ element.validFromTime | date: "MM/dd/yyyy, h:mm:ss a" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="validUntilTime">
            <th mat-header-cell *matHeaderCellDef>Valid until time</th>
            <td mat-cell *matCellDef="let element">
                {{ element.validUntilTime | date: "MM/dd/yyyy, h:mm:ss a" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['/urls',element.id]">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-template>