<form [formGroup]="questionOptionForm">

    <mat-checkbox formControlName="isRight" [(ngModel)]="updateQuestionOption.isRight">
        <mat-form-field>
            <input formControlName="text" [(ngModel)]="updateQuestionOption.text" name="text" type="text" matInput
                placeholder="Text" [errorStateMatcher]="validControlMatcher" required />

            <mat-error *ngIf="text.errors?.required && (text.touched || text.dirty)">
                This field is required.
            </mat-error>

            <mat-error *ngIf="text.errors?.minlength && (text.touched || text.dirty)">
                Text must be at least 4 characters long.
            </mat-error>

            <mat-error *ngIf="text.errors?.maxlength && (text.touched || text.dirty)">
                Text must be less than 256 characters long.
            </mat-error>

        </mat-form-field>
    </mat-checkbox>

    <button type="button" mat-button (click)="deleteQuestionOption.emit()">
        <i class="material-icons">delete</i>
    </button>

</form>