@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

.basic-container {
  margin: 30px;
}

.mat-app-background {
  background-color: white;
}
