.form-container {
  margin: 2%;
}

h1,
h2 {
  text-align: center;
  margin: 8px;
  font-size: x-large;
}

button,
form,
p {
  margin: 30px 8px 30px 8px;
}

.mat-field-block {
  margin: 8px;
  width: 25%;
  display: block;
}

.error-container {
  padding: 10px;
  margin: 10px;
  width: 45%;
  display: block;
  color: #721c24;
  background-color: #f8d7da;
}

.quiz-logo {
  height: 25px;
}
