.form-container {
  margin: 2%;
}

h1 {
  text-align: center;
  margin: 8px;
  font-weight: normal;
}

.answer-container {
  padding: 20px;
  margin: 15px;
}

.info {
  text-align: center;
  font-size: x-large;
  padding: 10px;
  margin: 10px;
}

.warn {
  padding: 10px;
  width: 35%;
  display: block;
  background-color: rgb(255, 187, 0);
}
